{% extends 'base.html' %}


{% block content%}
  <div class="row justify-content-center mt-4 text-center">
    <h1>Benvenuto Su SocialDex</h1>
    <h4>Socialdex è un sito internet che ti permette di dimostrare di essere il vero e il primo autore di un articolo.</h4>
    <h4>Per scrivere un articolo basta registrarsi e poi schiacciare il bottone "Nuovo Articolo"</h4>

    <h2 class="mt-4">Come funziona l'autenticazione?</h2>
    <h4>Una volta scritto l'articolo, l'hash di un JSON contente il titolo e la descrizione inserita da te verrà trasmessa in una transazione su Etherium.</h4>

    <h5 class="mt-4">Su Hash e TxId, trovi l'hash e l'identificativo di ogni articolo scritto.</h5>

    <h5>In alto a destra trovi la sezione 'Lista Utenti', una sezione che ti farà vedere di quanti giornalisti hanno usufruito di questo servizio.</h3>
  </div>
  
{% endblock %}